
.container {
  /* max-width: 1170px; */
  background-color: #0C0032;
  margin: auto;
  padding-top: 70px;

  min-height: 50vh;
   width: 100%;
   /* color: #fff; */
}

ul {
  list-style: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.footer-col {
  padding: 0 15px;
  width: 25%;
}

.footer-col h4 {
  font-size: 28px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  /* background-color: red; */

  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  width: 50px;
  box-sizing: border-box;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 20px;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  color: #fff;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #fff;
  padding-left: 5px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 40px;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  background-color:  #fff;
  color: #24262b;
}

/* responsive */

@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}