.App {
  text-align: center;
  padding: 5rem;
}

/* ::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #cacaca;
} */


